*{
    padding: auto;
    margin: auto;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

/* About */
#bigDiv{
    width:100%;
    height: 100dvh;
    border: 2px solid black;
    background-image: url(../img/about_bg.png);
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding-top: 50px;
    flex-direction: column;
    align-self: stretch;
}
h2{
    color: white;
}
#p1{
    color:#808080;
}
#div1{
    border: 2px solid transparent;
    width: 70%;
    height: 81dvh;
    display: flex;
    /* background: linear-gradient(91deg, rgba(1, 1, 1, 0.40) 12.09%, rgba(239, 110, 17, 0.28) 72.34%) */

}
#div2{
    width: 70%;
    height: 80dvh;
    border: none;
    background: linear-gradient(91deg, rgba(1, 1, 1, 0.40) 12.09%, rgba(239, 110, 17, 0.28) 72.34%);
    border-radius: 20px;
}
#div3{
    width: 30%;
    height: 80dvh;
   
}
#p2{
    color: white;
    font-size: 0.85rem;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    height: 80dvh;
}
#img2{
    width: 90%;
    border-bottom: 2px solid #EF6E11 ;
    border-radius: 30px;
    margin-top: 80px;
    /* height: 200px; */
}

/*  SIGNATURE PARTNERSHIP */
#bigDiv2{
    width: 100%;
    border: 2px solid transparent;
    height: 50dvh;
    background-color: white;
    display: flex;
    flex-direction: column;
}
#divCarousel{
    width: 100%;
    border: none;
    height: 20dvh;
}
.img4{
    width: 20%;
    margin-left: 30px;
    padding-left: 30px;
    padding-top: 50px;
}
#img4{
    width: 15%;
    margin-left: 30px;
    padding-left: 30px;
    padding-top: 50px;
}
#divRadio{
    display: flex;
    gap: 10px;
    margin-bottom: 50px;
    padding-top: 10px;
}
#span1, #span3{

    border:1px solid #808080;
    width: 7px;
    height: 7px;
    border-radius: 20px;
    background-color: #808080;
}
#span2{
    border:1px solid #EF6E11;
    width: 7px;
    height: 7px;
    border-radius: 20px;
    background-color: #EF6E11;
}
h3{
    font-size: 1.7rem;
    color: #EF6E11;
    font-weight: 900;
}
#p3{
    color: #808080;
    font-weight: 900;
}


/* Contact form */
#bigDiv3{
    width: 100%;
    border-top: 2px solid gray;
    border-bottom: none;
    border-left: none;
    border-right: none;
    height: 90dvh;
    background-color: white;
    display: flex;
    flex-direction: column;
}
fieldset{
    width: 630px;
    height: 400px;
    border: 1px solid #808080;
    background-color:white;
    box-shadow: 2px 2px 10px #808080, -2px -2px 10px #808080 ;
}
form{
    width: 90%;
}
.divcla{
    width: 100%;
    margin-top: 30px;
}

#divText{
    display: block;
    margin: auto;
    width: 100%;
    border: 2px solid none;
}
#divForm{
    width: 90%;
    display: flex;
    margin-top: 50px;
}
h4{
    font-weight: 600px;
    font-size: 24px;
}
ol li{
    font-size: 18px;
    color: #808080;
    font-weight: 400;
}

#div5{
    display:flex;
    gap: 10px;
}
#div51{
    width: 100%;
}
#div52{
    width: 100%;
}
#lname, #fname{
    width: 100%;
    height:30px ;
}
#mail{
    width: 100%;
    height: 30px;
}
textarea{
    width: 100%;
    height: 10dvh;
}
#p6{
    font-size: 0.9rem;
    font-weight: 700;
    font-style: italic;
    color: #808080;
    font-size: 18px;
}
#p7{
    padding-top: 50px;
    padding-left: 20px;
}


