@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: white;

}

/* header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 20;
    height: 12dvh;
}
#img1{
    width: 130px;
    margin-left: 10px;
    margin-top: 5px;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: white;
}
nav #ul1{
   list-style-type: none; 
   display: flex;
   margin-right: 30px;
   gap: 50px;
}
#mediaHam{
    display: none;
}
.hamburger{
    border: 1.5px solid white;
    margin-top: 4px;
}
#ham{
    width: 20px;
}

/* main */
#homepage{
    background: url('../img/backgroundimage.jpg');
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100dvh;
    border: none;
    position: absolute;
    top: 0;
    z-index: 10;
}
#middleDiv{
    width: 100%;
    height: 80dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h3{
    color: white;
    text-align: center;
    font-size: 3.5rem;
}

#p15{
    color: white;
}
#button-2{
    background-color: rgba(0, 0, 0, 0.3);
    height: 50px;
    width: 20%;
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 1rem;
}

/*  */
#sect1{
    margin-top: 100dvh;
}
.introduction{
    text-align: center;
    padding: 50px;
}

h2{
    color: #EF6E11;
}

.p1{
    font-weight: 400;
}

.big-container{
    display: flex;
    align-items: center;
}

.small-container{
    flex: 1;
    height: 150px;
    margin: 5px; 
    border: none;
    height: 300px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); 
    padding: 20px; 
    margin: 35px;
    width: 100%;
    position: relative;
}

.small-container p{
    margin: 10px;
}

.orange-btn{
    background: #EF6E11;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-size: 9px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
}

.hero p{
    color: #fff;
}

h2{
    font-weight: 700;
}

p{
    color: #010100;
    font-weight: 400;
}

.p1{
    font-weight: 400;
}

/*End of Introduction*/

span{
    color: #EF6E11;
    font-weight: bolder;
}

#p3{
    font-weight: bolder;
    font-size: 2rem;
}

@media (max-width: 900px){
    /* hamburger */
    nav #ul1{
        display: none;
    }
    #mediaHam{
        display: block;
    }
    #ham{
        margin-right: 10px;
        cursor: pointer;
    }

    /*  */
    #button-2{
        width: 30%;
    }
    h3{
        font-size: 2rem;
    }
    #navul{
        width: 100%;
        position: absolute;
        top: 12dvh;
        background: linear-gradient(gray, black) ;
        border: none;
        left: 0;
        height: 235px;
        margin-bottom: 25px ;
        display:none;
        
    }
    #navul.active{
        display: block;
    }
    #navul li{
        margin-top: 22px ;
        width: 100%;
        text-align: center;
        padding-top: 7px;
        padding-bottom: 7px;
    }
    #navul li:hover{
        background-color: rgb(184, 182, 182);
        
        
    }
    /* #navbarham{
        width: 100%;
        background-color: black;
    } */

    /* middle */
    .big-container{
        display: flex;
        flex-direction: column;

    }
    .small-container{
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        align-items: center;
    }
}