*{
    padding: auto;
    margin: auto;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

/* About */
#bigDiv{
    width:100%;
    height: 200dvh;
    border: 2px solid black;
    background-image: url(../img/about_bg.png);
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding-top: 10px;
    flex-direction: column;
    align-self: stretch;
}
h2{
    color: white;
    text-align: center;
}
#p1{
    color:#808080;
    text-align: center;
}
#div1{
    border: 2px solid transparent;
    width: 90%;
    height: 81dvh;
    display: flex;
    margin-top: -80px;
}
#div2{
   width: 77%;
   height: fit-content;
   background: linear-gradient(91deg, rgba(1, 1, 1, 0.40) 12.09%, rgba(239, 110, 17, 0.28) 72.34%);
   border-radius: 20px;
   padding-bottom: 20px;
}
#div3{
    width: 30%; 
    height: 100%;  
}
#p2{
    color: white;
    font-size: 0.8rem;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    width: 70%;
    height: fit-content;
    border: none;  
}
#img2{
    width: 100%;
    border-bottom: 2px solid #EF6E11 ;
    border-radius: 30px;
    margin-top: 80px;
}

/*  SIGNATURE PARTNERSHIP */
#bigDiv2{
    width: 100%;
    border: 2px solid transparent;
    height: fit-content;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#divCarousel{
    width: 100%;
    border: none;
}
.img4{
    width: 20%;
    margin-left: 30px;
    padding-left: 30px;
    padding-top: 50px;
}
#img4{
    width: 17%;
    margin-left: 30px;
    padding-left: 30px;
    padding-top: 50px;
}
h3{
    font-size: 1.7rem;
    color: #EF6E11;
    font-weight: 900;
}
#p3{
    color: #808080;
    font-weight: 900;
    text-align: center;
}


/* Contact form */
#bigDiv3{
    width: 100%;
    border-top: 2px solid gray;
    border-bottom: none;
    border-left: none;
    border-right: none;
    height: 90dvh;
    background-color: white;
    display: flex;
    flex-direction: column;
}
fieldset{
    width: 630px;
    height: 430px;
    border: 1px solid #808080;
    background-color:white;
    box-shadow: 2px 2px 5px #808080, -2px -2px 5px #808080 ;
    position: relative;
}

form{
    width: 90%;
}
.divcla{
    width: 100%;
    margin-top: 30px;
}

#divText{
    display: block;
    margin: auto;
    width: 100%;
    border: 2px solid none;
}
#divForm{
    width: 90%;
    display: flex;
    margin-top: 50px;
}
h4{
    font-weight: 600px;
    font-size: 24px;
}
ol li{
    font-size: 18px;
    color: #808080;
    font-weight: 400;
}

#div5{
    display:flex;
    gap: 10px;
}
#div51{
    width: 100%;
}
#div52{
    width: 100%;
}
#lname, #fname{
    width: 100%;
    height:30px ;
    border-radius: 5px;
    border: 1px solid black;
}
#mail{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid black;
}
textarea{
    width: 100%;
    height: 10dvh;
    resize: none;
    border-radius: 5px;
}
#p6{
    font-size: 0.9rem;
    font-weight: 700;
    font-style: italic;
    color: #808080;
    font-size: 18px;
}
#p7{
    padding-top: 50px;
    padding-left: 20px;
    font-weight: 900;
    font-size: 1.1rem;
    flex-wrap: nowrap;
    text-align: center;
}
button{
    width: 40%;
    height: 40px;
    background-color: #EF6E11;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    right: 30px;
}

@media (max-width:850px){
    #p7{
        font-size: 0.9rem;
        text-align: center;
    }
}

/* tab */
@media (max-width:769px){
    /* about */
    #bigDiv{
        height: 175dvh;
        padding-top: -300px;
        width: 100%;
    }
    #div1{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #div2{
        width: 90%;
        height: 100%;
    }
    #p2{
        width: 70%;
        font-size: 0.6rem;
        text-align: justify;
        height: fit-content;
    }
    #div3{
        width: 60%;
        height: 80dvh;  
         
    }
    #img2{
        display: block;
        margin: auto;
        width: 65%;
    }


    /* SIGNATURE PARTNERSHIP */
    #p3{
        font-size: 0.7rem;
        text-align: center;
    }

    /* contact */
    h3{
        font-size: 1.3rem;
    }
    #divForm{
        display: flex;
        flex-direction: column;
    }
    #divText{
        width: 90%;
        display: block;
        margin: auto;
    }
    h4{
        font-size: 1.4rem;
    }
    ol li{
        font-size: 0.8rem;
        color: #808080;
        font-weight: 300;
    }
    #p6{
        font-size: 1rem;
    }
    fieldset{
        width: 65%;
        margin-top: 40px;
    }
    #p7{
        font-weight: 900;
        font-size: 1rem;
    }
}


@media (max-width: 612px){
   
}

/* medium phone */
@media (max-width: 612px){
    #img2{
        width: 60%;
    }
    #divCarousel{
        padding-right: 6px;
    }
    .img4{
        margin-left: 20px;
        width: 40%;
    }
    #img4{
        width: 30%;
        margin-left: 20px;     
    }
    h2{
        font-size: 1.2rem;
    }
    #p1{
        font-size: 1rem;
    }

    /* SIGNATURE PARTNERSHIP */
    h3{
        font-size: 1rem;
    }

    /* contact */
    fieldset{
        width: 80%;
    }
    h4{
        font-size: 1rem;
    }
    ol li{
        font-size: 0.6rem;
        color: #808080;
        font-weight: 300;
    }
    #p6{
        font-size: 0.7;
    }
}
@media (max-width: 527px){
    #bigDiv{
        height: 170dvh;
        padding-top: -300px;
        width: 100%;
    }
    #div1{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #div2{
        width: 95%;
        height: 100%;
    }
    #p2{
        width: 70%;
        font-size: 0.5rem;
        text-align: justify;
        height: fit-content;
    }
    #div3{
        width: 50%;
        height: 80dvh;  
         
    }
    #img2{
        display: block;
        margin: auto;
        width: 83%;
    }
}
@media (max-width: 465px){
    fieldset{
        width: 90%;
    }
    #divCarousel{
        display: block;
        margin: auto;
    }
}
@media (max-width: 419px){
    #div3{
        height: 10dvh;
    }
}
