*{
    padding: auto;
    margin: auto;
    box-sizing: border-box;
    font-family: 'Mona Sans';
    scroll-behavior: smooth;
    user-select: none;
}


body{
    background-color: white;
}

/* header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    height: 80px;
    border: none;
    box-shadow: 0px 1px 10px black;
}

#img1{
    width: 130px;
    /* margin-top: 5px; */
}
h1{
    font-size: 2.5rem;
}
.sticky{
    position: fixed;
    width: 100%;
    top: 0;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #ef6e11;
}
nav #ul1{
   list-style-type: none; 
   display: flex;
  
   gap: 100px;
}
#mediaHam{
    display: none;
}
.hamburger{
    border: 1.5px solid #ef6e11;
    margin-top: 4px;
}
#ham{
    width: 20px;
}

/* main */
main{
    
}
/* homepage */
h1{
    text-align: center;
}
#hometext span{
    color: #ef6e11;
}
#homepage{
    width: 100%;
    height: 100dvh;
    border: none;
    background-color: white; 
    display: flex;
    justify-content: center;
    align-items: center;
}
#homemiddle{
    width: 80%;
    height: 50dvh;
    display: flex;
}
#hometext{
    font-size: 2rem;
    text-align: center;
}
#button-2{
    width: 100px;
    height: 30px;
    background-color: #EF6E11;
    color: white;
    display: block;
    margin: auto;
    border: none;
    border-radius: 25px;
}
#img2{
    width: 500px;
    display: block;
    margin: auto;
}

/* about */
#about{
    display: flex;
    flex-direction: row;
    background-color: #ef6d119c;
    border: 2px solid transparent;
    height: fit-content;
    padding-top: 50px;
}
.abt-div{
    width: 100%;
}
#img3{
    width: 600px;
    display: block;
    margin: auto;
    margin-top: 50px;
}
.abtp{
    font-size: 2rem;
}
#request{ 
    display: block;
    margin: auto;
    width: 200px;
    height: 40px;
    background-color: #EF6E11;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin-bottom: 50px;
}

/*  SIGNATURE PARTNERSHIP */
#abt-bigDiv2{
    width: 100%;
    border-bottom: 2px solid #cccccc;
    height: fit-content;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#abt-divCarousel{

    width: 100%;
    border: none;
    display: flex;
    flex-wrap: wrap;
}
.abt-img4{
    width: 20%;
    margin-left: 30px;
    padding-left: 30px;
    padding-top: 50px;
}
#abt-img4{
    width: 17%;
    margin-left: 30px;
    padding-left: 30px;
    padding-top: 50px;
}
.abt-h3{
    font-size: 1.7rem;
    color: #EF6E11;
    font-weight: 900;
    text-align: center;
}
#abt-p3{
    color: #808080;
    font-weight: 900;
    text-align: center;
}

/* contact */
iframe{
    width: 100%;
}
#contact{
    margin-top: 150px;
}
h2{
    font-size: 2rem;
    text-align: center;
}
#p1{
    text-align: center;
}
h4{
    font-size: 1.5rem;
    margin-top: 10px;
}
.infoTed{
    font-size: 1rem;
    margin-top: 10px;
}
#send{
    display: block;
    margin: auto;
    width: 150px;
    height: 40px;
    background-color: #EF6E11;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}
#subscribe{
    margin-top: 200px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid transparent;
    width: 100%;
    height: fit-content;
    background-color: #EF6E11;
}
.p15{
    color: white;
}
#div-Form{
   margin-top: 50px;
   
}
#inputtext{
    height: 30px;
    width: 300px;
    border: none;
}
#inputtext:enabled{
    outline: none;
}
#inputbtn{
    width: 100px;
    height: 30px;
    background-color: white;
    border-left: 1px solid #cccccc ;
    border-top: none;
    border-right: none;
    border-bottom: none;
    cursor: pointer;
}

/* form */

#div-Form{
    display: flex;
}
#container2{
    padding-top: 30px;
    padding-bottom: 30px;
}
#News-letter{
    padding-top: 30px;
    padding-bottom: 30px;
}

/* endorsement */
.endorse-img{
    width: 100px;
}
#image{
    display: flex;
}
#endorse-h3{
    color: #EF6E11;
    font-size: 2.2rem;
}
#haze {
    text-align: center;
    font-weight: 700;
}

/* Footer */
footer{
    margin-top: 50px;
    background-color: black;
    padding-top: 10px;
    width: 100%;
    box-shadow: 0px -1px 10px black;
    border:none;
   
}
.content {
    padding: 20px;
}
.footer-div{
    display: flex;
    flex-direction: row;
    width: 50%;
}
.footer-content {
    display: flex;
    flex-direction: row;
}
#copy-para{
    text-align: center;
}
.footer-section {
    margin-bottom: 20px;
}
.footer-section h3 {
    margin-bottom: 10px;
    color: black;
}
.footer-section ul {
    list-style: none;
    padding: 0;
}
.footer-section ul li {
    margin-bottom: 8px;
}
.footer-section ul li a {
    color: white;
    text-decoration: none;
}
.footer-ul li{
    font-size: 0.8rem;
    color: white;
}
#footer-contact{
    margin-top: -1px;
}

@media (max-width:1024px){
    header{
        height: 80px;
    }
    /* hamburger */
    nav #ul1{
        display: none;
    }
    #mediaHam{
        display: block;
    }
    #ham{
        
        cursor: pointer;
    }
    #navul{
        width: 100%;
        background-color: white;
        position: absolute;
        top: 80px;
        left: 0;
        height: fit-content;
        display:none;
        text-align: center;
    }
    #navul.active{
        display: flex;
        flex-direction: column;
    }
    #navul li{
        margin-left: -20px;
        margin-top: 20px ;
        width: 100%; 
        padding-top: 7px;
        padding-bottom: 7px;
    }
    #navul li:hover{
        background-color: #eb9d6550;
        color: white;
    }
    #navul li a{
        text-align: center;
    }

    /* home page */
    #homemiddle{
        flex-direction: column-reverse;
    }
    main{
       margin-top:100px ;
    }


    /* about */
    #about{
        flex-direction: column;
    }
    #abt{
        width: 90%;
        margin-left: 10px;
    }
    .abt-img4{
        margin-left: 20px;
        width: 20%;
    }
    #abt-img4{
        width: 15%;
        margin-left: 20px;     
    }

    /* contact */
    #div-Form{
        width: 90%;
        justify-content: center;
        align-items: center;
    }
    #info{
        padding-left: 10px;
    }
    #form1{
        padding-right: 10px;
    }

    /* Si */
    #abt-divCarousel{
        width: 90%;
        overflow: hidden;
        overflow-x: scroll;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width: 900px){
    #img2{
        width: 400px;
    }
    .list{
        margin-left: 30px;
    }
    p{
        margin-left: 5px;
        margin-right: 5px;
    }
    /* contact */
    #form1{
        margin-top: 50px;
    }
    .address{
        text-align: center;
    }
    .email{
        text-align: center;
    } 
    .phone{
        text-align: center;
    }
    #div-Form{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #name, #mail{
        width: 200px;
        height: 30px;
    }
    #subject{
        width: 405px;
        height: 30px;
        margin-top: 20px;
    }
    textarea{
        width: 405px;    
    }
    #container2{
        text-align: center;
    }
    .p15{
        text-align: center;
    }

    /* footer */
    .footer-h3{
        font-size: 0.9rem;
    }
}
@media (max-width: 780px){
    #img1{
        width: 100px;
    }
    #img2, #img3{
        width: 300px;
    }
    .abtp{
        font-size: 1.5rem;
        padding-left: 10px;
    }
    #abt-divCarousel{
        margin-right: 35px;
        
    }
    .abt-img4{
        margin-left: 20px;
        width: 35%;
        
    }
    #abt-img4{
        width: 25%;
        margin-left: 20px; 
            
    }

    .footer-div{
        flex-direction: column;
    }
}


@media (max-width: 500px){
    #img1{
        /* margin-top: 5px; */
        margin-left: -70px;
    }
    #form2{
        display: block;
        margin: auto;
    }
    #inputtext{
        width: 200px;
    }
    #inputbtn{
        width: 70px;
    }
    #form2{
        padding-left: 20px;
    }
   
  
    /* 1st form */
    .abt-h3{
        font-size: 1.5rem;
    }
    #abt-p3{
        font-size: 1rem;
    }
    #endorse-h3{
        font-size: 1.2rem;
    }
    #endorse-para{
        font-size: 1rem;
    }

    /* footer */
    .footer-ul li{
        font-size: 0.5rem;
    }
 
   
    .footer-h3{
        font-size: 0.7rem;
    }
    #copy-para{
        font-size: 0.8rem;
    }
   
    #yo-h4{
        font-size: 1.2rem;
    }
    #yo-h6{
        font-size: 0.9rem;
    }
  
}
@media (max-width: 450px){
    #img2{
        width: 250px;
    }
    #abt-divCarousel{
        display: block;
        margin: auto;
    }
    .footer-ul li{
        font-size: 0.5rem;
    }
   
   
    .footer-h3{
        font-size: 0.6rem;
    }
}
@media (max-width: 300px){
    #img2{
        width: 200px;
    }
}
