@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

*{
    padding: auto;
    margin: auto;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

body{
    background-color: white;

}

/* header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 20;
    height: 12dvh;
}
.sticky{
    position: fixed;
    width: 100%;
    top: 0;
}

#img1{
    width: 130px;
    margin-left: -110px;
    /* margin-top: 5px; */
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: white;
}
nav #ul1{
   list-style-type: none; 
   display: flex;
   margin-right: 30px;
   gap: 50px;
}
#mediaHam{
    display: none;
}
.hamburger{
    border: 1.5px solid white;
    margin-top: 4px;
}
#ham{
    width: 20px;
}

/* main */
#homepage{
    background: url('../img/backgroundimage.jpg');
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100vh;
    border: none;
    position: absolute;
    top: 0;
    z-index: 10;
}
#middleDiv{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    margin-top: 15%;
}
#middleDiv h3{
    color: white;
    text-align: center;
    font-size: 2.5rem;
}

#p15{
    color: white;
    margin-bottom: 190px;
    /* padding-top: 25px; */
}
#button-2{
    background-color: rgba(0, 0, 0, 0.3);
    height: 90px;
    width: 20%;
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 1rem;
    margin-bottom: 320px;
    cursor: pointer;
}

/*  */
#sect1{
    margin-top: 100dvh;
}
.introduction{
    text-align: center;
    padding: 50px;
}

.introduction h2{
    color: #ef6e11;
    text-align: center;
    font-family: Mona Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 75px;
    padding-bottom: 10px;
}

h2{
    color: #EF6E11;
}

.p1{
    color: #808080;
    text-align: center;
    font-family: Mona Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.big-container{
    display: flex;
    align-items: center;
}

.small-container{
    flex: 1;
    height: 150px;
    margin: 5px; 
    border: none;
    height: 300px;
    /*border-radius: 5px; */
    padding: 5px; 
    margin: 35px;
    width: 100%;
    position: relative;
    border-radius: 15px;
    background: linear-gradient(103deg, #fafafa 28.54%, #f7fafc 82.34%);
    /* shadow */
    box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.7);
}

.small-container .ptext{
    padding-top: 35px;
}

.small-container img{
    margin-left: 90px;
}

.small-container #p3{
    margin-left: 130px;
}

.orange-btn{
    background: #EF6E11;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-size: 9px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
}

.hero p{
    color: #fff;
}

h2{
    font-weight: 700;
}

p{
    color: #010100;
    font-weight: 400;
}

.p1{
    font-weight: 400;
}

/*End of Introduction*/

span{
    color: #EF6E11;
    font-weight: bolder;
}

#p3{
    font-weight: bolder;
    font-size: 2rem;
}

/* About */
#abt-bigDiv{
    width:100%;
    height: 180dvh;
    border: 2px solid black;
    background-image: url(../img/about_bg.png);
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding-top: 10px;
    flex-direction: column;
    align-self: stretch;
}
.abt-h2{
    color: white;
    text-align: center;
}
#abt-p1{
    color:#808080;
    text-align: center;
}
#abt-div1{
    border: 2px solid transparent;
    width: 90%;
    height: 81dvh;
    display: flex;
    margin-top: -40px;
}
#abt-div2{
   width: 77%;
   height: fit-content;
   background: linear-gradient(91deg, rgba(1, 1, 1, 0.40) 12.09%, rgba(239, 110, 17, 0.28) 72.34%);
   border-radius: 20px;
   padding-bottom: 20px;
}
#abt-div3{
    width: 30%; 
    height: 100%;
    padding-bottom: 50px;  
}
#abt-p2{
    color: white;
    font-size: 0.8rem;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    width: 70%;
    height: fit-content;
    border: none; 
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    text-align: justify;
    } 
#abt-img2{
    width: 100%;
    border-bottom: 2px solid #EF6E11 ;
    border-radius: 30px;
    margin-top: 80px;
}

/*  SIGNATURE PARTNERSHIP */
#abt-bigDiv2{
    width: 100%;
    border: 2px solid transparent;
    height: fit-content;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#abt-divCarousel{
    width: 100%;
    border: none;
}
.abt-img4{
    width: 20%;
    margin-left: 30px;
    padding-left: 30px;
    padding-top: 50px;
}
#abt-img4{
    width: 17%;
    margin-left: 30px;
    padding-left: 30px;
    padding-top: 50px;
}
.abt-h3{
    font-size: 1.7rem;
    color: #EF6E11;
    font-weight: 900;
}
#abt-p3{
    color: #808080;
    font-weight: 900;
    text-align: center;
}


/* Contact form */
#abt-bigDiv3{
    width: 100%;
    border-top: 2px solid gray;
    border-bottom: none;
    border-left: none;
    border-right: none;
    height: 90dvh;
    background-color: white;
    display: flex;
    flex-direction: column;
}
fieldset{
    width: 630px;
    height: 430px;
    border: 1px solid #808080;
    background-color:white;
    box-shadow: 2px 2px 5px #808080, -2px -2px 5px #808080 ;
    position: relative;
}

form{
    width: 90%;
}
.abt-divcla{
    width: 100%;
    margin-top: 30px;
}

#abt-divText{
    display: block;
    margin: auto;
    width: 100%;
    border: 2px solid none;
}
#abt-divForm{
    width: 90%;
    display: flex;
    margin-top: 50px;
}
h4{
    font-weight: 600px;
    font-size: 24px;
}
ol li{
    font-size: 18px;
    color: #808080;
    font-weight: 400;
}

#abt-div5{
    display:flex;
    gap: 10px;
}
#abt-div51{
    width: 100%;
}
#abt-div52{
    width: 100%;
}
#lname, #fname{
    width: 100%;
    height:30px ;
    border-radius: 5px;
    border: 1px solid black;
}
#mail{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid black;
}
textarea{
    width: 100%;
    height: 10dvh;
    resize: none;
    border-radius: 5px;
}
#abt-p6{
    font-size: 0.9rem;
    font-weight: 700;
    font-style: italic;
    color: #808080;
    font-size: 18px;
}
#abt-p7{
    padding-top: 50px;
    padding-left: 20px;
    font-weight: 900;
    font-size: 1.1rem;
    flex-wrap: nowrap;
    text-align: center;
}
.abt-btn{
    width: 40%;
    height: 40px;
    background-color: #EF6E11;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    right: 30px;
}

@media (max-width:850px){
    #abt-p7{
        font-size: 0.9rem;
        text-align: center;
    }
}

/* tab */
@media (max-width:769px){
    /* about */
    #abt-bigDiv{
        height: 175dvh;
        padding-top: -300px;
        width: 100%;
    }
    #abt-div1{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #abt-div2{
        width: 90%;
        height: 100%;
        margin-top: -100px;
    }
    #abt-p2{
        color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    width: 70%;
    height: fit-content;
    border: none; 
    font-family: 'Arial', sans-serif;
    font-size: 32px;
    line-height: 1.6;
    text-align: justify;
    }
    
    #abt-div3{
        width: 60%;
        height: 80dvh; 
        padding-top: 20px; 
         
    }
    #abt-img2{
        display: block;
        margin: auto;
        width: 65%;
    }


    /* SIGNATURE PARTNERSHIP */
    #abt-p3{
        font-size: 0.7rem;
        text-align: center;
    }

    /* contact */
    .abt-h3{
        font-size: 1.3rem;
    }
    #abt-divForm{
        display: flex;
        flex-direction: column;
    }
    #abt-divText{
        width: 90%;
        display: block;
        margin: auto;
    }
    h4{
        font-size: 1.4rem;
    }
    ol li{
        font-size: 0.8rem;
        color: #808080;
        font-weight: 300;
    }
    #abt-p6{
        font-size: 1rem;
    }
    fieldset{
        width: 65%;
        margin-top: 40px;
    }
    #abt-p7{
        font-weight: 900;
        font-size: 1rem;
    }
}


@media (max-width: 612px){
   
}

/* medium phone */
@media (max-width: 612px){
    #abt-img2{
        width: 60%;
    }
    #abt-divCarousel{
        padding-right: 6px;
    }
    .abt-img4{
        margin-left: 20px;
        width: 40%;
    }
    #abt-img4{
        width: 30%;
        margin-left: 20px;     
    }
    .abt-h2{
        font-size: 1.2rem;
    }
    #abt-p1{
        font-size: 1rem;
    }

    /* SIGNATURE PARTNERSHIP */
    .abt-h3{
        font-size: 1rem;
    }

    /* contact */
    fieldset{
        width: 80%;
    }
    abt-h4{
        font-size: 1rem;
    }
    ol li{
        font-size: 0.6rem;
        color: #808080;
        font-weight: 300;
    }
    #abt-p6{
        font-size: 0.7;
    }
}
@media (max-width: 527px){
    #abt-bigDiv{
        height: 170dvh;
        padding-top: -300px;
        width: 100%;
    }
    #abt-div1{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #abt-div2{
        width: 95%;
        height: 100%;
    }
    #abt-p2{
        width: 70%;
        font-size: 0.5rem;
        text-align: justify;
        height: fit-content;
    }
    #abt-div3{
        width: 50%;
        height: 80dvh;  
         
    }
    #abt-img2{
        display: block;
        margin: auto;
        width: 83%;
    }
}
@media (max-width: 465px){
    fieldset{
        width: 90%;
    }
    #abt-divCarousel{
        display: block;
        margin: auto;
    }
}
@media (max-width: 419px){
    #abt-div3{
        height: 10dvh;
    }
}

@media (max-width: 900px){
    /* hamburger */
    nav #ul1{
        display: none;
    }
    #mediaHam{
        display: block;
    }
    #ham{
        margin-right: -105px;
        cursor: pointer;
    }
    #homepage{
        height: 80vh;
    }
    #sect1{
        margin-top: 70dvh;
    }
    #middleDiv{
        padding-top: 20px;
        margin-top: 25%;
    }
    /*  */
    #button-2{
        width: 30%;
        height: 50px;
        margin-bottom: 350px;
    }
    #p15{
        margin-bottom: 110px;
    }
    h3{
        font-size: 2rem;
    }
    #navul{
        width: 100%;
        position: absolute;
        top: 12dvh;
        background: linear-gradient(gray, black) ;
        border: none;
        left: 0;
        height: 235px;
        margin-bottom: 25px ;
        display:none;
        
    }
    #navul.active{
        display: block;
    }
    #navul li{
        margin-top: 22px ;
        width: 100%;
        text-align: center;
        padding-top: 7px;
        padding-bottom: 7px;
    }
    #navul li:hover{
        background-color: rgb(184, 182, 182);
        
        
    }
    /* #navbarham{
        width: 100%;
        background-color: black;
    } */

    /* middle */
    .big-container{
        display: flex;
        flex-direction: column;

    }
    .small-container{
        height: 500px;
        width: 75%;
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        align-items: center;
        padding-bottom: 50px;
    }
}
